.modal {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1300;
    background-color: rgba(33,33,33,0.5);
    transition: .3s cubic-bezier(.25,.8,.5,1),z-index 1ms;
}

.modal-content {
    color: #424242;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 16px 24px;
    width: calc(100% - 64px); /* Could be more or less, depending on screen size */
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
}