<div class="modal">
    <div class="modal-content">
        <div class="front">
            <div>
                <MudText Typo="Typo.h4">Hello</MudText>
            </div>
            <div class="d-flex justify-end">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Flip" Color="Color.Primary">Flip</MudButton>
            </div>
        </div>
    </div>
</div>